<body class="text-center">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <img src="https://seeklogo.com/images/L/lawrence-vikings-lu-logo-CB109DBCD3-seeklogo.com.png" width="40" height="32">
        <span class="fs-4">LifeUp</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main page</a>
        <% if @user.date_of_update != nil then%>
          <a class="me-3 py-2 text-dark text-decoration-none" href="state">Statistics</a>
        <%end%>
        <a class="me-3 py-2 text-dark text-decoration-none" href="setting">Change your information</a>
        <a class="py-2 text-dark text-decoration-none" href="session/logout">Logout</a>
      </nav>
    </div>
  </header>
<main class="form-signin">
<div class ="row">
  <p>
  <strong>Your name: </strong>
  <%= @user.username %>
  </p>
</div>

<p>
<% if @user.image? %>

  <%= image_tag @user.image.url(:large) %>

  <%else %>
    <strong>You did not upload a photo</strong>
  <%end%>
  </p>
<div class="row">
<p>
<% if @user.current_mass? %>
  <strong>Your weight: </strong>
  <%= @user.current_mass %> kg
  <%else %>
    You did <strong> not </strong> specify your weight!
  <%end%>
  </p>
</div>
<p>
  <% if @user.allow_the_publication? %>
  You <strong>agree</strong> to the publication of your data!
  <%else %>
  You <strong>do not</strong> agree to the publication of your data!
  <%end%>
</p>

<%= link_to 'Edit', setting_path %> |
<%= link_to 'Main page', home_path %>
<footer role="contentinfo">
  <p class="float-end"></p>
  <p>&copy; 2021 LifeUp, Inc. &middot; &middot; &middot; email: lifeup.end.lifeup@gmail.com &middot; &middot; &middot;</p>
</footer>
</main>
</body>
